header {
    width: 100%;
}
h1 {
    font-family: monospace;
    font-weight: normal;
    margin: 30px 30px 0px 30px;
    padding: 20px;
    background-color: rgb(180, 180, 180);
    border-radius: 20px;
    font-size: 300%;
    color: black;
}
img {float: right}

#personInfo {
    display: none;
    position: fixed;
    right: 0;
    z-index: 2;
    width: 20%;
    padding: 20px;
    margin-right: 30px;
    background-color: rgb(240, 240, 240);
    font-family: monospace;
    font-size: 150%;
    font-weight: normal;
    text-align: left;
    border-radius: 20px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: grey;
    text-decoration: none;
}

.container{
    font-family: monospace;
    padding: 20px;
    margin: 2% 33%;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    /*text-align: center;*/
    font-size: 200%;
}
.post{
    padding: 10px 10px 40px 10px;
    /*margin: 10px;*/
}
.select{
    margin-top: 25% ;
    padding: 10px 10px 40px 10px;
}
textarea{
    width: 50%;
    resize: none;
    float: right;
}
input {
    font-family: monospace;
    font-size: 100%;
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
    box-sizing: border-box;
    width: 50%;
    float: right;
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    color: white;
}
label{
    margin-left: 25%;
}
button {
    background-color: #00008B;
    color: white;
    font-family: monospace;
    font-size: 100%;
    padding: 10px 15px 10px 15px;
    /*margin: 13px;*/
    border: none;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 10%;
}

